.text {
  margin-left: 15px;
}



.contactWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.button {

  padding: 8px 18px;
  font-size: 1rem;
  cursor: pointer;
  border: none;

}

.button:hover {
  scale: 1.06;
  transition: scale 0.2s;
}

.editButton {
  background-color: #a2f3b0;


}

.deleteButton {
  background-color: #f3a2a2;

}